.description {
  display: none
}

.short_description {
  display: block;
  margin-left: 5px;
  overflow: auto;
}

img.img_link {
  float: left;
  clear: both;
  margin-right: 10px
}

div.links_div {
  position: absolute;
  bottom: 20px;
  left: 158px;
}

.card {
  width: 10rem;
  height: 45rem;
  margin-bottom: 10px
}

li.my-book {
  list-style: none;
  display: inline;
  float: left;
  margin-left: 15px;
}

.navbar-light {
  background-color: #e3f2fd
}

.search-bar {
  margin-bottom: 20px;
}

.finished {
  width: 100%;
  position: absolute;
  bottom: 40px;
}
.remove{
  width: 100%;
  position: absolute;
  bottom: 0;
}
