.card {
  width: 10rem;
  height: 43rem;
}

li {
  list-style: none;
  display: inline;
  float: left;
  margin-left: 15px;
}

.navbar-light {
  background-color: #e3f2fd
}

.remove{
  width: 100%;
  position: absolute;
  bottom: 0;
}
